@using Blogger.Shared.Models;
@inherits LayoutComponentBase

<PageTitle>Blogger</PageTitle>

<div class="page">
    <div class="container-fluid bg-purple">
        @if (Setting.UserBasicDetail != null)
        {
            <TopNavBar />
        }
        
    </div>

    <div class="container-fluid flex-grow-1">
        @Body
    </div>
    @* <footer class="fixed-bottom text-center d-flex align-items-center justify-content-center footer">
        <p class=" mb-0 py-2">Blogger by <strong>Harpreet Pannu</strong></p>
    </footer> *@

</div>
