@page "/admin/manage-categories"
@using Blogger.Shared.Models;

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h3>Manage Categories</h3>
        <button class="btn btn-primary btn-sm">+ Add new Category</button>
    </div>
    <hr/>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

@code {
    private IEnumerable<Category>? _categories = null;

    protected override Task OnInitializedAsync()
    {
        
    }
}
