@using Blogger.Shared.Models;
@using Blogger.SharedUI.Shared

@page "/Dashboard"

<PageTitle>Blog Spot</PageTitle>

<h1>Hello, world! lets do it</h1>

<img src="@Setting.UserBasicDetail.UserAvatar" height="50" width="50" class="rounded-circle" />
Welcome @Setting.UserBasicDetail.Name


